@model RacingRecordsMVC.Models.EjecucionCarrera

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Competidor en carrera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minutos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minutos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Segundos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Segundos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCompetidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCompetidor)
        </dd>
        <dt class = "col-sm-2">
            Nombre competidor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCompetidorNavigation.NombreCompleto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCompetencia" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>
